h1, h2, h3, p {
  text-align: center;
}
#mapKeltablique {
  width: 20%;
}
#mapFieldKeltablique {
  margin-left: auto;
  margin-right: auto;
}
body {
  background-image: url(https://raw.githubusercontent.com/mighty-mouse-y7/photosPublicDomain/refs/heads/main/parchment/grunge-background-14635619239LT.jpg);
}
main {
  color: orange;
}
